input:disabled {
  background-color: gray
}

input:focus{
  background-color: lightgray
}

button:hover {
  color: lightgray
}

.inputField {
  width: 30%;
  padding-left: 10px;
  border-radius: 4px;
  
}

.label {
  min-width: 100px;
  text-align: right;
  margin-right: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profilePic {
  width: 30%;
  text-align: left

}

input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

input::file-selector-button:hover {
  background-color: lightgray
}