/* profile container */
.profile-container {
  display: flex;
  margin: 50px;
}

.profile-infoContainer {
  flex: 1;
  flex-direction: column;
  margin-right: 10px;
}

.profile-pic-container {
  display: flex;
  margin: 10px 10px 20px 100px; 
  flex: 0 0 300px;
  justify-content: center;
}

/* style that all elemenet shares */
input:disabled {
  background-color: gray
}

button:hover {
  color: lightgray
}

/* This is profile info's style */
.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.profile-info label {
  flex: 0 0 150px; 
  font-size: 20px; 
}

.profile-info input {
  flex: 1; 
  font-size: 16px; 
  padding: 10px; 
}

input:focus{
  background-color: lightgray
}

.inputField {
  width: 50%;
  padding-left: 10px;
  border-radius: 4px;
}

.label {
  min-width: 100px;
  text-align: right;
  margin-right: 10px;
}


/* This is profile pic's style */
input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

input::file-selector-button:hover {
  background-color: lightgray
}

.profilePic{
  display: flex;
  border: 2px solid gray; 
  box-sizing: border-box; 
  overflow: hidden; 
  aspect-ratio: 1/1;
}
